
{{#partial "content"}}
    <form action="/">

        <h3>Input your ANIMAL`S DETAILS</h3>
        <div class="form-group">
            <label for="name" >models.Animal Name</label>
            <input id ="name" name="name" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="age">models.Animal Age</label>
            <input id ="age" name="age"  class="form-control" type="numbers">
        </div>
        <div class="form-group">
            <label for="ranger">Ranger</label>
            <input id ="ranger" name="ranger" class="form-control" type="text">
        </div>


        <div><button type="submit">Submit Hero</button></div>

    </form>
{{/partial }}

{{>layout.hbs}}