
{{#partial "content"}}
    <form action="/sightings">

    <h3>ANIMAL`S DETAILS</h3>
    <div class="form-group">
        <label for="names" >Animal Name</label>
        <input id ="names" name="names" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label for="healthy">Animal Health</label>
        <select id="healthy" name="healthy"  class="form-control">
            <option value="healthy">Healthy</option>
            <option value="ill">Ill</option>
            <option value="okay">Okay</option>
        </select>
    </div>

    <div class="form-group">
        <label for="ages">Animal Age</label>
        <select id="ages" name="ages"  class="form-control">
            <option value="newborn">Newborn</option>
            <option value="young">Young</option>
            <option value="adult">Adult</option>

        </select>

    </div>
    <div class="form-group">
        <label for="rangers">Ranger</label>
        <input id ="rangers" name="rangers" class="form-control" type="text">
    </div>
    <div><button type="submit">Submit Animal</button></div>

</form>
{{/partial }}

{{>layout.hbs}}