
{{#partial "content"}}

    RANGER: {{ ranger }}
    <div class="col-md-4">
        <img src='/images/cheetah.jpeg' alt='A photo of a mountain.'/></div>
    <div class="col-md-4">
        <img src='/images/lion.jpg' alt='A photo of a a rocky beach.'/></div>
    <div class="col-md-4">
        <img src='/images/tiger.jpg' alt='A photo of a a rocky beach.'/></div>
{{/partial}}


{{>layout.hbs}}