{{#block "header"}}

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>{{#block "title"}}WildLife{{/block}}
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="style.css">
    </head>

{{/block}}
<h1>Wildlife Tracker</h1>

<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href='/'>HOME</a></li>
    <li class="nav-item"><a class="nav-link" href='/endangered'>REPORT AN ANIMAL</a></li>
    <li class="nav-item"><a class="nav-link" href='/animal'>REPORT AN ENDANGERED </br>ANIMAL</a></li>
    <li class="nav-item"><a class="nav-link" href='/ranger'>ADD A RANGER</a></li>
</ul>



<!-- begin inner template-->


<div class="container">
    {{#block "content"}}

    {{/block}}

</div>
<!-- end inner template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}