
{{#partial "content"}}
    <form action="/">

        <h3>Input your DETAILS</h3>
        <div class="form-group">
            <label for="name" >Ranger Name</label>
            <input id ="name" name="name" class="form-control" type="text">
        </div>


        <div><button type="submit">Submit Ranger</button></div>

    </form>
{{/partial }}

{{>layout.hbs}}